<svg>
  <line
    class="x-axis"
    [attr.x1]="0.5 * padding + outerPadding + left"
    [attr.y1]="innerHeight + top + 2"
    [attr.x2]="innerWidth - (0.5 * padding + outerPadding) + left"
    [attr.y2]="innerHeight + top + 2"
  ></line>
  <rect
    *ngFor="let item of data; index as idx"
    [attr.x]="idx * rectWidth + 0.5 * padding + outerPadding + left"
    [attr.y]="top + innerHeight - (innerHeight / max) * item.employee_age"
    [attr.width]="bandwidth"
    [attr.height]="(innerHeight / max) * item.employee_age"
  ></rect>
  <text
    class="x-labels"
    *ngFor="let item of data; index as idx"
    [attr.y]="dimensions.height - 2"
    [attr.x]="
      idx * rectWidth + 0.5 * padding + outerPadding + 0.5 * bandwidth + left
    "
  >
    {{ item.id }}
  </text>
</svg>
