<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img
        src="assets/GHX Logo-1.svg"
        alt="GHX Logo"
        width="100"
        height="24"
        class="d-inline-block align-text-top"
      />
    </a>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-4">
      <div class="chart">
        <app-chart1 [data]="data1"></app-chart1>
      </div>
    </div>
    <div class="col-4">
      <div class="chart">
        <!-- <app-chart2 [data]="data2$ | async"></app-chart2> -->
        <app-chart2 [data]="data2"></app-chart2>
      </div>
    </div>
    <div class="col-4">
      <div class="chart"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <div class="chart"></div>
    </div>
    <div class="col-4">
      <div class="chart"></div>
    </div>
    <div class="col-4">
      <div class="chart"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <div class="chart"></div>
    </div>
    <div class="col-4">
      <div class="chart"></div>
    </div>
    <div class="col-4">
      <div class="chart"></div>
    </div>
  </div>
</div>
